{"openapi":"3.1.0","info":{"title":"Portal CLI API","version":"1.0.0","description":"AGNT platform REST API."},"servers":[{"url":"https://api.agnt.ai"}],"components":{"schemas":{"Task":{"type":"object","properties":{"id":{"type":"string"},"owner":{"type":["string","null"],"format":"email"},"assistant":{"$ref":"#/components/schemas/UserPublicProfile"},"account":{"$ref":"#/components/schemas/AccountPublicProfile"},"assignees":{"type":"array","items":{"type":"string"}},"followers":{"type":"array","items":{"$ref":"#/components/schemas/UserPublicProfile"}},"onBehalfOf":{"type":["string","null"]},"onBehalfOfCommittedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"waitingOnContacts":{"type":"array","items":{"$ref":"#/components/schemas/UserPublicProfile"}},"environment":{"type":"string"},"type":{"type":"string","enum":["template","task","reminder","recipient"]},"skills":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["pending","executing","on_hold","paused","awaiting_user_input","awaiting_non_user_response","alarm_set","subtasks_running","scheduled","message_received","conversation","completed","done_user_marked","error","archived","abandoned","handled_by_other","deferred_access","failed_access","credits_blocked"]},"handledBy":{"type":["object","null"],"properties":{"assistantId":{"type":"string"},"assistantName":{"type":["string","null"]},"decidingTaskId":{"type":["string","null"]},"messageId":{"type":["string","null"]},"rule":{"type":["string","null"]},"decidedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["assistantId"]},"conversational":{"type":"boolean"},"origin":{"type":["object","null"],"properties":{"platform":{"type":["string","null"],"enum":["chat","newTaskUI","task_activity","email","slack","teams","sms","whatsapp","imessage","phone","discord","telegram","workflow_spawned","unknown",null]}},"required":["platform"]},"order":{"type":"number"},"title":{"type":"string"},"description":{"type":["string","null"]},"userDescription":{"type":["string","null"]},"descriptionAuthor":{"type":"string","enum":["user","assistant"]},"statusMessage":{"type":["string","null"]},"summary":{"type":["string","null"]},"notesForNextRun":{"type":["string","null"]},"releasedRR":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"note":{"type":"string"},"at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id"]}},"clarificationNeeded":{},"error":{"type":["string","null"]},"pauseReason":{"type":["string","null"]},"scheduledFor":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"scheduledHeadline":{"type":["string","null"]},"executedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"completedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"lastSeenAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"hasInboxItem":{"type":"boolean"},"hasWriteActions":{"type":"boolean"},"templateTaskId":{"type":["string","null"]},"workflowSkillId":{"type":["string","null"]},"workflowSkillInstallId":{"type":["string","null"]},"plan":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"object","properties":{"text":{"type":"string"},"status":{"type":"string","enum":["pending","done","skipped","blocked"]},"note":{"type":"string"}},"required":["text"]}]}},"executionPlan":{"type":"array","items":{"type":"string"}},"planHistory":{"type":"array","items":{}},"executionId":{"type":["string","null"]},"pendingResume":{"type":["object","null"],"properties":{"key":{"type":"string"},"snapshotAt":{"anyOf":[{"type":"string"},{"type":"string","format":"date-time"},{"type":"null"}]},"parkedStatus":{"type":"string"},"bytes":{"type":"number"}}},"subtasks":{"type":"array","items":{}},"followups":{"type":"array","items":{"$ref":"#/components/schemas/TaskFollowup"}},"chatId":{"type":["string","null"]},"relatedEvent":{"type":["string","null"]},"relatedFiles":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}},"parentTaskId":{"type":["string","null"]},"groupTaskId":{"type":["string","null"]},"recipientFor":{"type":["string","null"]},"jsonMode":{"type":["string","null"]},"jsonResult":{"type":["object","null"],"additionalProperties":{}},"pendingRecipientTaskIds":{"type":"array","items":{"type":"string"}},"schedulingMeetingId":{"type":["string","null"]},"requestingAssistant":{"type":["object","null"],"properties":{"name":{"type":["string","null"]},"firstName":{"type":["string","null"]},"email":{"type":["string","null"]},"avatar":{"type":["string","null"]},"principalName":{"type":["string","null"]},"principalEmail":{"type":["string","null"]}}},"lastScramblerOutput":{"type":["object","null"],"properties":{"ranAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"meetingId":{"type":["string","null"]},"hasCleanOverlap":{"type":"boolean"},"noMatch":{"type":"boolean"},"strategies":{"type":"array","items":{}},"participantCount":{"type":"number"},"slotsCompared":{"type":"number"},"permutationsTested":{"type":"number"}}},"visibility":{"type":"string","enum":["normal","internal"]},"modelTier":{"type":"string","enum":["low","medium","high"]},"onboarding":{"type":"boolean"},"effort":{"type":"string","enum":["low","medium","high"]},"createdBy":{"type":"string","enum":["user","agent"]},"approvalGate":{"type":"string","enum":["pending_user_approval","approved","declined"]},"approvalEvents":{"type":"array","items":{"$ref":"#/components/schemas/TaskApprovalEvent"}},"spawnedBySubtaskId":{"type":["string","null"]},"alarm":{"$ref":"#/components/schemas/TaskAlarm"},"coverageTransfer":{"type":"array","items":{"$ref":"#/components/schemas/TaskCoverageTransfer"}},"threadCursors":{"type":"array","items":{"$ref":"#/components/schemas/TaskThreadCursor"}},"runState":{"type":["object","null"],"properties":{"skillsLoaded":{"type":"array","items":{"type":"string"}},"toolGroupsLoaded":{"type":"array","items":{"type":"string"}},"preparedOutbound":{"type":"boolean"},"preparedOutboundAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"atomsExercised":{"type":"array","items":{"type":"string"}},"channelsTouched":{"type":"array","items":{"type":"string"}},"narrowingProfile":{"type":"string","enum":["wide","narrow"]},"lastModelCallAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}}},"pendingCart":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["open","submitted","pending_approval","time_boxed","approved","executing","executed","cancelled","rejected","failed"]},"label":{"type":"string"},"timeBoxedExpiresAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"timeBoxedWindowMin":{"type":["number","null"]},"timeBoxedExpiry":{"type":["string","null"],"enum":["execute","cancel",null]},"dispatches":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"},"platform":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"body":{"type":"string"},"status":{"type":"string"}},"required":["type","description","platform","to","status"]}}},"required":["status","label","dispatches"]},"cartHistory":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"resolvedApprovalMode":{"type":["string","null"],"enum":["auto","time-boxed","manual",null]},"timeBoxedExpiresAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"timeBoxedExpiry":{"type":["string","null"],"enum":["execute","cancel",null]},"dispatches":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"},"platform":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"cc":{"type":"array","items":{"type":"string"}},"bcc":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"body":{"type":"string"},"status":{"type":"string"},"error":{"type":"string"}}}},"resolution":{"type":"string","enum":["auto_sent","manually_approved","auto_sent_expiry","manually_denied","auto_cancelled_expiry","failed"]},"trigger":{"type":["string","null"]},"outcomeSummary":{"type":"object","additionalProperties":{}},"submittedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"resolvedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["resolution"]}},"usage":{"type":"object","properties":{"inputTokens":{"type":"number"},"outputTokens":{"type":"number"},"cacheReadTokens":{"type":"number"},"cacheCreationTokens":{"type":"number"},"costUsd":{"type":"number"},"runs":{"type":"number"},"turns":{"type":"number"}}},"panicRecoveryAttempts":{"type":"number"},"executingStuckRetries":{"type":"number"},"subtaskSurfaceRetries":{"type":"number"},"subtaskStallNotified":{"type":"boolean"},"loopBreaker":{"type":["object","null"],"properties":{"signature":{"type":["string","null"]},"repeatCount":{"type":"number"},"parkedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}}},"creditUsage":{"type":["object","null"],"properties":{"consumed":{"type":"number"},"cycleConsumed":{"type":"number"},"softNotifiedAtCredits":{"type":"number"},"softNotifiedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"grantedCeiling":{"type":"number"},"parkedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"lastPauseNotifiedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"overBudgetAskDeliveredAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"landingWrapUpIssuedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"zeroBalanceLandingOverrideCount":{"type":"number"}}},"noProgressBreaker":{"type":["object","null"],"properties":{"parkedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}}},"recoveryHint":{"type":["object","null"],"properties":{"reason":{"type":["string","null"]},"tool":{"type":["string","null"]},"at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}}},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","status","title","createdAt","updatedAt"]},"UserPublicProfile":{"type":["object","null"],"properties":{"id":{"type":"string"},"type":{"type":"string","enum":["user","assistant","contact"]},"email":{"type":"string","format":"email"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"avatar":{"type":["string","null"]}},"required":["id","type"]},"AccountPublicProfile":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"logoUrl":{"type":["string","null"]}},"required":["id","name","slug"]},"TaskFollowup":{"type":"object","properties":{"id":{"type":"string"},"scheduledFor":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"status":{"type":"string","enum":["pending","completed","cancelled"]},"message":{"type":"string"},"triggeredAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"metadata":{"type":"object","additionalProperties":{}},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","status","message","createdAt"]},"TaskApprovalEvent":{"type":"object","properties":{"surface":{"type":"string","enum":["portal","email_link","push","sms","inbox"]},"action":{"type":"string","enum":["approve","decline"]},"userId":{"type":["string","null"]},"at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"reason":{"type":["string","null"]}},"required":["action","at"]},"TaskAlarm":{"type":["object","null"],"properties":{"wakeAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"reason":{"type":"string"},"headline":{"type":["string","null"]},"note":{"type":["string","null"]},"visible":{"type":"boolean"},"status":{"type":"string","enum":["set","fired","cancelled"]},"setAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"followupCount":{"type":"number"},"kind":{"type":["string","null"],"enum":["user","subtask_fallback",null]},"source":{"type":["string","null"],"enum":["prime","auto",null]},"waitingFor":{"type":"array","items":{"type":"object","properties":{"what":{"type":"string"},"expectedBy":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}}}},"doormanSnoozes":{"type":"number"},"overdue":{"type":"boolean"}},"required":["wakeAt","reason","status"]},"TaskCoverageTransfer":{"type":"object","properties":{"span":{"type":"string"},"direction":{"type":"string","enum":["to_backup","to_primary"]},"action":{"type":"string","enum":["activate","end","seize","revert"]},"fromOwner":{"type":["string","null"]},"toOwner":{"type":["string","null"]},"seizedBy":{"type":["string","null"]},"primaryStaysFollower":{"type":"boolean"},"handedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["span","direction","action","handedAt"]},"TaskThreadCursor":{"type":"object","properties":{"threadKey":{"type":"string"},"lastSeenAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"lastSeenActivityId":{"type":["string","null"]}},"required":["threadKey","lastSeenAt"]},"CreateTaskBody":{"type":"object","properties":{"title":{"type":"string"},"assistant":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"status":{"type":"string"},"skills":{"type":"array","items":{"type":"string"}},"assignedUsers":{"type":"array","items":{"type":"string"}},"followers":{"type":"array","items":{"type":"string"}},"onBehalfOf":{"type":"string"},"modelTier":{"type":"string","enum":["low","medium","high"]},"onboarding":{"type":"boolean"},"generateTitle":{"type":"boolean"},"attachmentHints":{"type":"array","items":{"type":"object","properties":{"mimeType":{"type":"string"}}},"maxItems":20}},"required":["title","assistant"]},"UpdateTaskBody":{"type":"object","properties":{"assistant":{"type":"string"},"type":{"type":"string"},"status":{"type":"string","enum":["pending","executing","on_hold","paused","awaiting_user_input","awaiting_non_user_response","alarm_set","scheduled","completed","done_user_marked","error","archived","abandoned","deferred_access","failed_access"]},"order":{"type":"number"},"title":{"type":"string"},"description":{"type":"string"},"summary":{"type":"string"},"notesForNextRun":{"type":["string","null"]},"skills":{"type":"array","items":{"type":"string"}},"assignedUsers":{"type":"array","items":{"type":"string"}},"followers":{"type":"array","items":{"type":"string"}},"input":{},"context":{},"clarificationNeeded":{"type":"boolean"},"error":{"type":["string","null"]},"scheduledFor":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"waitingOnContacts":{"type":"array","items":{"type":"string"}},"approvalMode":{"type":["string","null"],"enum":["auto","manual",null]},"plan":{"type":"array","items":{}},"planHistory":{"type":"array","items":{}},"relatedFiles":{"type":"array","items":{"type":"string"}},"planningMode":{"type":"boolean"},"hasWriteActions":{"type":"boolean"},"modelTier":{"type":"string","enum":["low","medium","high"]}}},"UpdateAssigneesBody":{"type":"object","properties":{"emails":{"type":"array","items":{"type":"string"}}},"required":["emails"]},"TaskFeedbackBody":{"type":"object","properties":{"status":{"type":["string","null"],"enum":["like","dislike",null]}},"required":["status"]},"ApprovalActionBody":{"type":"object","properties":{"reason":{"type":"string"}}},"ApproveBatchResponse":{"type":"object","properties":{"approved":{"type":"array","items":{"type":"string"}},"failed":{"type":"array","items":{"type":"object","properties":{"taskId":{"type":"string"},"error":{"type":"string"}},"required":["taskId","error"]}}},"required":["approved","failed"]},"ApproveBatchBody":{"type":"object","properties":{"taskIds":{"type":"array","items":{"type":"string"}}},"required":["taskIds"]},"ProcessTaskBody":{"type":"object","properties":{"message":{"type":"string"},"files":{"type":"array","items":{}}}},"UsageRollup":{"type":"object","properties":{"total":{"$ref":"#/components/schemas/UsageTotal"},"rows":{"type":"array","items":{"$ref":"#/components/schemas/UsageRow"}},"credits":{"$ref":"#/components/schemas/UsageCredits"},"runShape":{"$ref":"#/components/schemas/RunShape"}},"required":["total","rows"]},"UsageTotal":{"type":"object","properties":{"inputTokens":{"type":"number"},"outputTokens":{"type":"number"},"cacheReadTokens":{"type":"number"},"cacheCreationTokens":{"type":"number"},"totalTokens":{"type":"number"},"costUsd":{"type":"number"},"runs":{"type":"integer"},"turns":{"type":"integer"}},"required":["inputTokens","outputTokens","cacheReadTokens","cacheCreationTokens","totalTokens","costUsd","runs","turns"]},"UsageRow":{"type":"object","properties":{"runId":{"type":["string","null"]},"runType":{"type":["string","null"]},"runLabel":{"type":["string","null"]},"seq":{"type":"integer"},"model":{"type":["string","null"]},"provider":{"type":["string","null"]},"inputTokens":{"type":"number"},"outputTokens":{"type":"number"},"cacheReadTokens":{"type":"number"},"cacheCreationTokens":{"type":"number"},"totalTokens":{"type":"number"},"costUsd":{"type":"number"},"turns":{"type":"integer"},"startedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"modelTier":{"type":["string","null"]},"northStarProduct":{"type":"number"}},"required":["runId","runType","runLabel","seq","model","provider","inputTokens","outputTokens","cacheReadTokens","cacheCreationTokens","totalTokens","costUsd","turns","startedAt"]},"UsageCredits":{"type":"object","properties":{"total":{"type":"number"},"costsByType":{"$ref":"#/components/schemas/UsageCostsByType"},"runs":{"type":"array","items":{"$ref":"#/components/schemas/UsageCreditRun"}}},"required":["total","costsByType","runs"]},"UsageCostsByType":{"type":"object","additionalProperties":{"type":"number"}},"UsageCreditRun":{"type":"object","properties":{"runKind":{"type":["string","null"]},"multiplier":{"type":"number"},"chargedCredits":{"type":"number"},"hardCogsUsd":{"type":"number"},"isBillable":{"type":"boolean"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"costsByType":{"$ref":"#/components/schemas/UsageCostsByType"}},"required":["runKind","multiplier","chargedCredits","hardCogsUsd","isBillable","createdAt","costsByType"]},"RunShape":{"type":"object","properties":{"runs":{"type":"number"},"turnsPerRun":{"type":"number"},"toolCallsPerTurn":{"type":"number"},"toolCallSum":{"type":"number"},"toolTurnCount":{"type":"number"},"subtaskSpawnsByProfile":{"type":"object","properties":{"research":{"type":"number"},"worker":{"type":"number"},"custom":{"type":"number"}},"required":["research","worker","custom"]},"tierMix":{"type":"object","properties":{"low":{"type":"number"},"medium":{"type":"number"},"high":{"type":"number"}},"required":["low","medium","high"]},"continueCount":{"type":"number"},"subtaskDepth":{"type":"number"},"researchNoteCount":{"type":"number"},"researchNoteChars":{"type":"number"},"releasedBigResults":{"type":"number"},"unreleasedBigResults":{"type":"number"},"autoManagedBigResults":{"type":"number"},"releaseRatio":{"type":["number","null"]},"status":{"type":["string","null"]},"wallClockMs":{"type":["number","null"]},"costUsd":{"type":"number"},"northStarProduct":{"type":"number"}},"required":["runs","turnsPerRun","toolCallsPerTurn","toolCallSum","toolTurnCount","subtaskSpawnsByProfile","tierMix","continueCount","subtaskDepth","researchNoteCount","researchNoteChars","releasedBigResults","unreleasedBigResults","status","wallClockMs","costUsd"]},"SchedulingSnapshot":{"type":"object","properties":{"parentTaskId":{"type":"string"},"meetingId":{"type":["string","null"]},"meetingWindow":{"type":["object","null"],"properties":{"startsAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"endsAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["startsAt","endsAt"]},"viewerIsOrganizer":{"type":"boolean"},"totalRecipients":{"type":"number"},"submittedCount":{"type":"number"},"pendingCount":{"type":"number"},"failedCount":{"type":"number"},"participants":{"type":"array","items":{"$ref":"#/components/schemas/SchedulingSnapshotParticipant"}},"lastScramblerOutput":{"type":["object","null"],"properties":{"ranAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"meetingId":{"type":"string"},"hasCleanOverlap":{"type":"boolean"},"noMatch":{"type":"boolean"},"strategies":{"type":"array","items":{"$ref":"#/components/schemas/Strategy"}},"participantCount":{"type":"number"},"slotsCompared":{"type":"number"},"permutationsTested":{"type":"number"}},"required":["ranAt","meetingId","hasCleanOverlap","noMatch","strategies","participantCount","slotsCompared","permutationsTested"]}},"required":["parentTaskId","meetingId","meetingWindow","viewerIsOrganizer","totalRecipients","submittedCount","pendingCount","failedCount","participants","lastScramblerOutput"]},"SchedulingSnapshotParticipant":{"type":"object","properties":{"recipientTaskId":{"type":"string"},"email":{"type":["string","null"]},"profile":{},"taskStatus":{"type":"string"},"status":{"type":"string","enum":["pending","submitted","available","no_slots","degraded","failed"]},"submittedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"jsonResult":{"type":["object","null"],"additionalProperties":{}},"redacted":{"type":"boolean"}},"required":["recipientTaskId","email","taskStatus","status","submittedAt","jsonResult"]},"Strategy":{"type":"object","properties":{"id":{"type":"string"},"friction":{"type":"string","enum":["none","low","medium","high"]},"type":{"type":"string","enum":["clean_overlap","single_yield","multi_yield"]},"slot":{"$ref":"#/components/schemas/StrategySlot"},"moves":{"type":"array","items":{"$ref":"#/components/schemas/StrategyMove"}},"affectedParticipants":{"type":"array","items":{"type":"string"}},"unconfirmedParticipants":{"type":"array","items":{"type":"string"}},"requiresPermission":{"type":"boolean"},"summary":{"type":"string"}},"required":["id","friction","type","slot","moves","affectedParticipants","unconfirmedParticipants","requiresPermission","summary"]},"StrategySlot":{"type":"object","properties":{"startsAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"endsAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"duration":{"type":"number"}},"required":["startsAt","endsAt","duration"]},"StrategyMove":{"type":"object","properties":{"email":{"type":"string"},"startsAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"endsAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"eventType":{"type":"string"},"flexibility":{"type":"string","enum":["low","medium","high","very_high"]},"mustAsk":{"type":"boolean"}},"required":["email","startsAt","endsAt","eventType","flexibility","mustAsk"]},"SchedulingPreview":{"type":"object","properties":{"meetingId":{"type":"string"},"ranAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"hasCleanOverlap":{"type":"boolean"},"noMatch":{"type":"boolean"},"strategies":{"type":"array","items":{"$ref":"#/components/schemas/Strategy"}},"participantCount":{"type":"number"},"slotsCompared":{"type":"number"},"permutationsTested":{"type":"number"},"includedParticipants":{"type":"array","items":{"type":"string"}},"missingParticipants":{"type":"array","items":{"type":"string"}},"excludedParticipants":{"type":"array","items":{"type":"string"}},"partial":{"type":"boolean"}},"required":["meetingId","ranAt","hasCleanOverlap","noMatch","strategies","participantCount","slotsCompared","permutationsTested","includedParticipants","missingParticipants","excludedParticipants","partial"]},"SchedulingPreviewBody":{"type":"object","properties":{"excludeEmails":{"type":"array","items":{"type":"string"}}}},"Chat":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"owner":{"$ref":"#/components/schemas/ChatOwner"},"assistant":{"type":"string"},"assistantInfo":{"$ref":"#/components/schemas/ChatAssistantInfo"},"platform":{"type":"string","enum":["chat","email","slack","teams","sms","whatsapp","imessage","phone","discord","telegram","task_activity"]},"title":{"type":["string","null"]},"status":{"type":"string"},"messageCount":{"type":"number"},"lastMessageAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"taskIds":{"type":"array","items":{"type":"string"}},"fileIds":{"type":"array","items":{"type":"string"}},"pendingHandoff":{"type":["object","null"],"properties":{"from":{"type":"string"},"at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["from","at"]},"tags":{"type":"array","items":{"type":"string"}},"metadata":{"type":"object","additionalProperties":{}},"modelTier":{"type":"string","enum":["low","medium","high"]},"effort":{"type":"string","enum":["low","medium","high"]},"usage":{"type":"object","properties":{"inputTokens":{"type":"number"},"outputTokens":{"type":"number"},"cacheReadTokens":{"type":"number"},"cacheCreationTokens":{"type":"number"},"costUsd":{"type":"number"},"runs":{"type":"number"},"turns":{"type":"number"}}},"creditUsage":{"type":["object","null"],"properties":{"consumed":{"type":"number"},"blockedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"lastPauseNotifiedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}}},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"}},"releasedRR":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"note":{"type":"string"},"at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id"]}}},"required":["id","account","platform","status","messageCount","createdAt","updatedAt"]},"ChatOwner":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["user"]},"email":{"type":"string"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"avatar":{"type":["string","null"]}},"required":["id","type","email"]},"ChatAssistantInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}},"required":["id","name","email"]},"ChatMessage":{"type":"object","properties":{"id":{"type":"string"},"referenceId":{"type":"string"},"role":{"type":"string"},"from":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"cc":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"platform":{"type":"string"},"content":{"type":"string"},"files":{"type":"array","items":{}},"timestamp":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"metadata":{"type":"object","additionalProperties":{}}},"required":["id","role","content","timestamp"]},"CreateChatBody":{"type":"object","properties":{"assistantId":{"type":"string"},"userId":{"type":"string"},"title":{"type":"string"},"metadata":{"type":"object","additionalProperties":{}},"contextId":{"type":"string"}},"required":["assistantId"]},"AddMessageBody":{"type":"object","properties":{"referenceId":{"type":"string"},"role":{"type":"string","default":"user"},"from":{"type":"string"},"to":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"cc":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"subject":{"type":"string"},"platform":{"type":"string"},"content":{"type":"string"},"files":{"type":"array","items":{}},"metadata":{"type":"object","additionalProperties":{}}},"required":["content"]},"UpdateMessageBody":{"type":"object","properties":{"content":{"type":"string"},"files":{"type":"array","items":{}},"metadata":{"type":"object","additionalProperties":{}}}},"Contact":{"type":"object","properties":{"id":{"type":"string"},"user":{"type":"string"},"name":{"type":["string","null"]},"preferredName":{"type":["string","null"]},"email":{"type":"string"},"emails":{"type":"array","items":{"$ref":"#/components/schemas/ContactEmail"},"default":[]},"phones":{"type":"array","items":{"$ref":"#/components/schemas/ContactPhone"},"default":[]},"company":{"$ref":"#/components/schemas/CompanyInline"},"title":{"type":["string","null"]},"timezone":{"type":["string","null"]},"tzOffset":{"type":["string","null"]},"photoUrl":{"type":["string","null"]},"website":{"type":["string","null"]},"bookingLink":{"type":["string","null"]},"social":{"type":"object","properties":{"linkedIn":{"type":"string"},"x":{"type":"string"},"other":{"type":"string"}}},"address":{"type":"object","properties":{"line1":{"type":"string"},"line2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"country":{"type":"string"}}},"enrichedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"enrichmentVersion":{"type":"integer","default":0},"source":{"$ref":"#/components/schemas/ContactSource"},"lastContactedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"externalIds":{"type":"array","items":{"$ref":"#/components/schemas/ExternalId"},"default":[]},"properties":{"type":"object","additionalProperties":{},"default":{}},"priority":{"type":"integer","minimum":1,"maximum":3,"default":2},"inheritCompanyPriority":{"type":"boolean","default":true},"tags":{"type":"array","items":{"type":"string"},"default":[]},"introducedBy":{"type":["string","null"]},"scope":{"type":"string","enum":["user","team"],"default":"user"},"team":{"type":["string","null"]},"status":{"type":"string"},"consumer":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":["string","null"]},"email":{"type":["string","null"]}},"required":["id","name","email"]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"assistant":{"type":["object","null"],"properties":{"name":{"type":["string","null"]},"email":{"type":["string","null"]},"userIdentifier":{"type":["string","null"]},"source":{"type":["string","null"],"enum":["internal-roster","declared-by-counterpart","manual",null]}}},"internal":{"type":"boolean"},"isMember":{"type":"boolean"}},"required":["id","user","name","email","company","title","timezone","website","bookingLink","status","createdAt","updatedAt"]},"ContactEmail":{"type":"object","properties":{"address":{"type":"string"},"type":{"type":"string","enum":["work","personal","other"],"default":"work"},"primary":{"type":"boolean","default":false},"source":{"type":"string"}},"required":["address"]},"ContactPhone":{"type":"object","properties":{"number":{"type":"string"},"type":{"type":"string","enum":["work","mobile","home","other"],"default":"mobile"},"primary":{"type":"boolean","default":false},"source":{"type":"string"}},"required":["number"]},"CompanyInline":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"domain":{"type":["string","null"]}},"required":["id","name","slug","domain"]},"ContactSource":{"type":["object","null"],"properties":{"type":{"type":["string","null"],"enum":["manual","teammate","teammate_archived","imported","email","import","apollo","crm","ats","hris","voice","onboarding","calendar","other",null]},"userId":{"type":["string","null"]}}},"ExternalId":{"type":"object","properties":{"integration":{"type":"string"},"externalId":{"type":"string"},"syncedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["integration","externalId"]},"CreateContactBody":{"type":"object","properties":{"email":{"type":"string","format":"email"},"name":{"type":"string"},"preferredName":{"type":"string"},"phones":{"type":"array","items":{"$ref":"#/components/schemas/ContactPhoneBody"}},"emails":{"type":"array","items":{"$ref":"#/components/schemas/ContactEmailBody"}},"company":{"type":"string"},"title":{"type":"string"},"timezone":{"type":"string"},"consumerEmail":{"type":"string","format":"email"},"source":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/ContactSource"}]},"externalIds":{"type":"array","items":{"type":"object","properties":{"integration":{"type":"string"},"externalId":{"type":"string"}},"required":["integration","externalId"]}},"properties":{"type":"object","additionalProperties":{}},"scope":{"type":"string","enum":["user","team"]},"team":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"priority":{"type":"integer","minimum":1,"maximum":3},"inheritCompanyPriority":{"type":"boolean"}},"required":["email"]},"ContactPhoneBody":{"type":"object","properties":{"number":{"type":"string"},"type":{"type":"string","enum":["mobile","work","home","other"]},"primary":{"type":"boolean"}},"required":["number"]},"ContactEmailBody":{"type":"object","properties":{"address":{"type":"string","format":"email"},"type":{"type":"string","enum":["personal","work","other"]},"primary":{"type":"boolean"}},"required":["address"]},"BulkTagResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"updated":{"type":"integer","minimum":0},"total":{"type":"integer","minimum":0},"failed":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"reason":{"type":"string"}},"required":["id","reason"]}}},"required":["ok","updated","total","failed"]},"BulkTagBody":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":1000},"add":{"type":"array","items":{"type":"string"}},"remove":{"type":"array","items":{"type":"string"}}},"required":["ids"]},"BulkImportBody":{"type":"object","properties":{"contacts":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","format":"email"},"name":{"type":"string"},"preferredName":{"type":"string"},"phone":{"type":"string"},"phones":{"type":"array","items":{"$ref":"#/components/schemas/ContactPhoneBody"}},"company":{"type":"string"},"title":{"type":"string"},"timezone":{"type":"string"},"emails":{"type":"array","items":{"$ref":"#/components/schemas/ContactEmailBody"}},"properties":{"type":"object","additionalProperties":{}},"tags":{"type":"array","items":{"type":"string"}}},"required":["email"]},"maxItems":1000}},"required":["contacts"]},"ContactWithRelationships":{"allOf":[{"$ref":"#/components/schemas/Contact"},{"type":"object","properties":{"outgoingRelationships":{"type":"array","items":{"$ref":"#/components/schemas/ContactRelationshipLink"},"default":[]},"incomingRelationships":{"type":"array","items":{"$ref":"#/components/schemas/ContactRelationshipLink"},"default":[]}}}]},"ContactRelationshipLink":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"fromContact":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/ContactRelationshipContactRef"}]},"toContact":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/ContactRelationshipContactRef"}]},"type":{"$ref":"#/components/schemas/ContactRelationshipType"},"role":{"type":["string","null"]},"isPrimary":{"type":"boolean","default":false},"notes":{"type":["string","null"]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","fromContact","toContact","type","createdAt","updatedAt"]},"ContactRelationshipContactRef":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":["string","null"]},"email":{"type":["string","null"]}},"required":["id"]},"ContactRelationshipType":{"type":"string","enum":["coordinates","partner","assistant","parent","other"]},"UpdateContactBody":{"type":"object","properties":{"name":{"type":"string"},"preferredName":{"type":["string","null"]},"phones":{"type":"array","items":{"$ref":"#/components/schemas/ContactPhoneBody"}},"company":{"type":["string","null"]},"title":{"type":["string","null"]},"timezone":{"type":"string"},"status":{"type":"string"},"website":{"type":["string","null"]},"bookingLink":{"type":["string","null"]},"introducedBy":{"type":["string","null"]},"social":{"type":"object","properties":{"linkedIn":{"type":"string"},"x":{"type":"string"},"other":{"type":"string"}}},"address":{"type":"object","properties":{"line1":{"type":"string"},"line2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"country":{"type":"string"}}},"emails":{"type":"array","items":{"$ref":"#/components/schemas/ContactEmailBody"}},"lastContactedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"enrichedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"properties":{"type":"object","additionalProperties":{}},"scope":{"type":"string","enum":["user","team"]},"team":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"string"}},"priority":{"type":"integer","minimum":1,"maximum":3},"inheritCompanyPriority":{"type":"boolean"}}},"MergeContactBody":{"type":"object","properties":{"mergeContactId":{"type":"string"}},"required":["mergeContactId"]},"CreateContactRelationshipBody":{"type":"object","properties":{"toContactId":{"type":"string"},"type":{"$ref":"#/components/schemas/ContactRelationshipType"},"role":{"type":"string"},"isPrimary":{"type":"boolean"},"notes":{"type":"string"}},"required":["toContactId","type"]},"UpdateContactRelationshipBody":{"type":"object","properties":{"role":{"type":["string","null"]},"isPrimary":{"type":"boolean"},"notes":{"type":["string","null"]}}},"ContactExternalIdBody":{"type":"object","properties":{"externalId":{"type":"string"}},"required":["externalId"]},"Company":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"domain":{"type":["string","null"]},"aliases":{"type":"array","items":{"type":"string"},"default":[]},"industry":{"type":["string","null"]},"website":{"type":["string","null"]},"description":{"type":["string","null"]},"descriptionSource":{"type":["string","null"]},"location":{"type":["string","null"]},"logoUrl":{"type":["string","null"]},"linkedinUrl":{"type":["string","null"]},"enrichedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"enrichmentVersion":{"type":"integer","default":0},"properties":{"type":"object","additionalProperties":{},"default":{}},"isOwnOrg":{"type":"boolean"},"ownOrgProfile":{"$ref":"#/components/schemas/OwnOrgProfile"},"tags":{"type":"array","items":{"type":"string"},"default":[]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","name","slug","domain","industry","website","description","location","logoUrl","linkedinUrl","createdAt","updatedAt"]},"OwnOrgProfile":{"type":"object","properties":{"mission":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"founded":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"stage":{"type":"string"},"leadership":{"type":"array","items":{"$ref":"#/components/schemas/OwnOrgProfileLeadership"}},"keyProducts":{"type":"array","items":{"type":"string"}},"targetCustomers":{"type":"string"},"brandVoice":{"type":"string"},"internalTools":{"type":"array","items":{"type":"string"}},"holidays":{"type":"array","items":{"$ref":"#/components/schemas/OwnOrgProfileHoliday"}},"meetingNorms":{"type":"string"},"confidentialityNotes":{"type":"string"},"launchDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}}},"OwnOrgProfileLeadership":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"},"userId":{"type":["string","null"]}}},"OwnOrgProfileHoliday":{"type":"object","properties":{"name":{"type":"string"},"date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}}},"CreateCompanyBody":{"type":"object","properties":{"name":{"type":"string","minLength":1},"slug":{"type":"string"},"domain":{"type":"string"},"website":{"type":"string"},"industry":{"type":"string"},"location":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}},"linkedinUrl":{"type":"string"},"logoUrl":{"type":"string"},"properties":{"type":"object","additionalProperties":{}},"tags":{"type":"array","items":{"type":"string"}}}},"CompanyWithCreated":{"allOf":[{"$ref":"#/components/schemas/Company"},{"type":"object","properties":{"created":{"type":"boolean"},"alreadyExists":{"type":"boolean"}},"required":["created","alreadyExists"]}]},"FindOrCreateCompanyBody":{"type":"object","properties":{"name":{"type":"string"},"domain":{"type":"string"},"slug":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}}}},"UpdateCompanyBody":{"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"domain":{"type":["string","null"]},"website":{"type":["string","null"]},"industry":{"type":["string","null"]},"location":{"type":["string","null"]},"aliases":{"type":"array","items":{"type":"string"}},"linkedinUrl":{"type":["string","null"]},"logoUrl":{"type":["string","null"]},"properties":{"type":"object","additionalProperties":{}},"tags":{"type":"array","items":{"type":"string"}}}},"EnrichCompanyBody":{"type":"object","properties":{"description":{"type":"string"},"descriptionSource":{"type":"string","enum":["apollo","web"]},"enrichedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"properties":{"type":"object","additionalProperties":{}},"logoUrl":{"type":"string"},"linkedinUrl":{"type":"string"},"industry":{"type":"string"},"location":{"type":"string"},"website":{"type":"string"}}},"TagUsage":{"type":"object","properties":{"tag":{"type":"string"},"contactCount":{"type":"integer","minimum":0},"companyCount":{"type":"integer","minimum":0}},"required":["tag","contactCount","companyCount"]},"PropertyDefinition":{"type":"object","properties":{"id":{"type":"string","pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011"},"account":{"type":"string","pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011"},"user":{"type":"string","pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011"},"entityType":{"type":"string","enum":["contact","company"]},"key":{"type":"string"},"label":{"type":"string"},"type":{"type":"string","enum":["text","number","date","boolean","select","url"]},"options":{"type":"array","items":{"type":"string"}},"showForAll":{"type":"boolean"},"scope":{"type":"string","enum":["user","team"]},"team":{"type":["string","null"],"pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","entityType","key","label","type","options","showForAll"]},"UpsertPropertyDefinitionBody":{"type":"object","properties":{"label":{"type":"string"},"type":{"type":"string","enum":["text","number","date","boolean","select","url"]},"options":{"type":"array","items":{"type":"string"}},"showForAll":{"type":"boolean"},"scope":{"type":"string","enum":["user","team"]},"team":{"type":["string","null"]}}},"ListMemoriesResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"memories":{"type":"array","items":{"$ref":"#/components/schemas/Memory"}},"page":{"type":"integer"},"perPage":{"type":"integer"},"total":{"type":"integer"}},"required":["ok","memories"]},"Memory":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"kind":{"type":"string","enum":["unstructured","structured"],"default":"unstructured"},"resourceType":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"string"}},"content":{"type":["string","null"]},"data":{"type":["object","null"],"additionalProperties":{}},"source":{"type":"string","enum":["system","user"]},"scope":{"type":"string","enum":["user","team"],"default":"user"},"visibility":{"type":"string","enum":["author_only","coordinators","all"],"default":"coordinators"},"audience":{"type":"string","enum":["user","internal"],"default":"user"},"authoredBy":{"type":["string","null"]},"assistant":{"type":["string","null"]},"team":{"type":["string","null"]},"startDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"endDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"isActive":{"type":"boolean"},"isExpired":{"type":"boolean"},"metadata":{"type":"object","additionalProperties":{},"default":{}},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","tags","source","isActive","isExpired","createdAt","updatedAt"]},"ShowMemoryResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"memory":{"$ref":"#/components/schemas/Memory"}},"required":["ok","memory"]},"ErrorResponse":{"type":"object","properties":{"status":{"type":"integer"},"error_code":{"type":"string"},"error":{"type":"string"}},"required":["status","error"]},"CreateMemoryBody":{"type":"object","properties":{"content":{"type":"string"},"tags":{"type":"array","items":{"type":"string"},"default":[]},"source":{"type":"string","enum":["system","user"]},"scope":{"type":"string","enum":["user","team"]},"team":{"type":"string"},"startDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"endDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"metadata":{"type":"object","additionalProperties":{}}},"required":["content"]},"UpdateMemoryBody":{"type":"object","properties":{"content":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"scope":{"type":"string","enum":["user","team"]},"team":{"type":["string","null"]},"startDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"endDate":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"metadata":{"type":"object","additionalProperties":{}}}},"DeleteMemoryResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"memory":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean"},"message":{"type":"string"}},"required":["id"]}},"required":["ok","memory"]},"RunOnboardingResponse":{"type":"object","properties":{"ok":{"type":"boolean"},"sessionId":{"type":"string"},"status":{"type":"string"}},"required":["ok","sessionId","status"]},"RunOnboardingBody":{"type":"object","properties":{}},"ListOnboardingSessionsResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"sessions":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingSessionSummary"}},"page":{"type":"integer"},"perPage":{"type":"integer"},"total":{"type":"integer"}},"required":["ok","sessions"]},"OnboardingSessionSummary":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["in_progress","paused","complete"]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"completedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"findingsCount":{"type":"integer","minimum":0,"default":0},"bitesCount":{"type":"integer","minimum":0,"default":0},"pendingBitesCount":{"type":"integer","minimum":0,"default":0},"pendingWorkflowProposalsCount":{"type":"integer","minimum":0,"default":0}},"required":["id","status","createdAt"]},"ShowOnboardingCurrentOrLatestResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"session":{"$ref":"#/components/schemas/OnboardingCurrentOrLatestSession"}},"required":["ok","session"]},"OnboardingCurrentOrLatestSession":{"allOf":[{"$ref":"#/components/schemas/OnboardingSessionSummary"},{"type":"object","properties":{"nextStep":{"$ref":"#/components/schemas/OnboardingNextStep"}},"required":["nextStep"]}]},"OnboardingNextStep":{"type":"string","enum":["pipeline","bites","week_labels","workflows","finalized","unknown"]},"ShowOnboardingSessionResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"session":{"$ref":"#/components/schemas/OnboardingSession"}},"required":["ok","session"]},"OnboardingSession":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"status":{"type":"string","enum":["in_progress","paused","complete"]},"connections":{"$ref":"#/components/schemas/OnboardingConnections"},"assistant":{"$ref":"#/components/schemas/OnboardingAssistant"},"userContext":{"$ref":"#/components/schemas/OnboardingUserContext"},"briefing":{"$ref":"#/components/schemas/OnboardingBriefing"},"transcript":{"type":"array","items":{},"default":[]},"stagedMemories":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingStagedMemory"},"default":[]},"weekLabels":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingWeekLabel"},"default":[]},"bites":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingBite"},"default":[]},"cards":{"$ref":"#/components/schemas/OnboardingCards"},"workflowProposals":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingWorkflowProposal"},"default":[]},"upFrontAnswers":{"$ref":"#/components/schemas/OnboardingUpFrontAnswers"},"earnedAnswers":{"$ref":"#/components/schemas/OnboardingEarnedAnswers"},"finalize":{"$ref":"#/components/schemas/OnboardingFinalizeState"},"skipRestFlagged":{"type":"boolean","default":false},"runErrors":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingRunError"},"default":[]},"lastError":{"type":"string"},"debug":{"$ref":"#/components/schemas/OnboardingDebugInfo"},"completedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","status","connections","assistant","userContext","briefing","createdAt","updatedAt"]},"OnboardingConnections":{"type":"object","properties":{"calendars":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingCalendarConnection"},"default":[]},"contactsConnected":{"type":"boolean","default":false}}},"OnboardingCalendarConnection":{"type":"object","properties":{"calendar":{"type":"string"},"platform":{"type":"string","enum":["google","azure","apple"]},"role":{"type":"string","enum":["work","personal","family","other"]},"name":{"type":"string"}},"required":["calendar","platform","role","name"]},"OnboardingAssistant":{"type":"object","properties":{"assistant":{"type":"string"},"name":{"type":"string"},"persona":{"type":"string"},"voice":{"type":"string"}}},"OnboardingUserContext":{"type":"object","properties":{"linkedinPaste":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string"},"default":[]},"roleDescription":{"type":"string"},"detectedTimezone":{"type":"string"},"detectedCity":{"type":"string"},"detectedCountry":{"type":"string"},"detectedLocale":{"type":"string"},"detectedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"detectedSource":{"type":"string"}}},"OnboardingBriefing":{"type":"object","properties":{"deterministic":{"$ref":"#/components/schemas/OnboardingDeterministicBriefing"},"findings":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingFinding"},"default":[]},"inferredPreferences":{"$ref":"#/components/schemas/OnboardingStagedSchedulingPreferences"}}},"OnboardingDeterministicBriefing":{"type":"object","additionalProperties":{},"default":{}},"OnboardingFinding":{"type":"object","properties":{"findingId":{"type":"string"},"source":{"type":"string","enum":["calendar","contacts","apollo","linkedin","web","multi"]},"type":{"type":"string"},"confidence":{"type":"number","minimum":0,"maximum":1,"default":0.5},"evidence":{"type":"string","default":""},"observation":{"type":"string","default":""},"data":{},"suggestedAction":{"type":"string","enum":["save_memory","apply_pref","disambiguate","review"],"default":"review"},"reviewState":{"type":"string","enum":["pending","confirmed","edited","rejected","skipped"],"default":"pending"},"userEdits":{},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["findingId","source","type","createdAt"]},"OnboardingStagedSchedulingPreferences":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"availability":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"workingHours":{"type":"object","properties":{"MO":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"TU":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"WE":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"TH":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"FR":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"SA":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"SU":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}}}},"workingHolidays":{"type":"array","items":{"type":["string","null"],"format":"date-time"}},"customHolidays":{"type":"array","items":{"type":["string","null"],"format":"date-time"}},"holidayCountries":{"type":"array","items":{"type":"string"}},"holidayCountry":{"type":"string"}}},"defaults":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"virtual":{"type":"object","properties":{"duration":{"type":"number"},"defaultMeetingLink":{"type":"string"},"conferenceSolution":{"type":"string"},"conferenceIntegration":{"type":"string"}}},"inPerson":{"type":"object","properties":{"duration":{"type":"number"},"defaultLocation":{"type":"string"}}}}},"calendars":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"read":{"type":"array","items":{"type":"string"}},"write":{"type":"string"}}},"buffers":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"bufferType":{"type":"string","enum":["none","meeting","timeBlock"]},"bufferLength":{"type":"number"},"bufferBlockLength":{"type":"number"},"dailyMeetingLimit":{"type":"number"}}},"customEventTitles":{"type":"object","properties":{"internal":{"type":"object","properties":{"useCustomTitles":{"type":"boolean"},"solo":{"type":"string"},"oneAttendee":{"type":"string"},"twoAttendees":{"type":"string"},"manyAttendees":{"type":"string"}}},"external":{"type":"object","properties":{"useCustomTitles":{"type":"boolean"},"oneAttendee":{"type":"string"},"twoAttendees":{"type":"string"},"manyAttendees":{"type":"string"}}}}}},"default":{}},"OnboardingStagedMemory":{"type":"object","properties":{"content":{"type":"string"},"category":{"type":"string"},"confidence":{"type":"number","minimum":0,"maximum":1,"default":0.5}},"required":["content"]},"OnboardingWeekLabel":{"type":"object","properties":{"eventId":{"type":"string"},"weekStart":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"label":{"type":"string","enum":["flexible","important","protected","could-have-been-async","recurring-1:1"]},"priority":{"anyOf":[{"type":"number","enum":[1]},{"type":"number","enum":[2]},{"type":"number","enum":[3]}]},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["eventId","weekStart"]},"OnboardingBite":{"type":"object","properties":{"biteId":{"type":"string"},"text":{"type":"string"},"category":{"type":"string","enum":["PROFILE","CONTACT","COMPANY","EVENT","SCHEDULING","FAMILY","VOICE","RULE"]},"scope":{"$ref":"#/components/schemas/OnboardingBiteScope"},"confidence":{"type":"number","minimum":0,"maximum":1,"default":0.5},"evidence":{"$ref":"#/components/schemas/OnboardingBiteEvidence"},"suggestedAction":{"type":"string","enum":["save_memory","apply_pref","upsert_contact","upsert_company","opaque_constraint"],"default":"save_memory"},"prefMapping":{"$ref":"#/components/schemas/OnboardingBitePrefMapping"},"presentation":{"$ref":"#/components/schemas/OnboardingBitePresentation"},"proposedTags":{"type":"array","items":{"type":"string"},"default":[]},"reviewState":{"type":"string","enum":["pending","approved","edited","rejected","silent_saved"],"default":"pending"},"userEditedText":{"type":"string"},"userAnswer":{"type":"string","default":""},"queue":{"type":"string","enum":["primary","overflow"],"default":"primary"},"order":{"type":"integer","default":0},"priority":{"type":"integer","minimum":1,"default":5},"required":{"type":"boolean","default":false},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["biteId","text","category","scope","createdAt"]},"OnboardingBiteScope":{"oneOf":[{"type":"object","properties":{"kind":{"type":"string","enum":["global"]}},"required":["kind"]},{"type":"object","properties":{"kind":{"type":"string","enum":["contact"]},"contactKey":{"type":"string"}},"required":["kind","contactKey"]},{"type":"object","properties":{"kind":{"type":"string","enum":["event"]},"seriesKey":{"type":"string"}},"required":["kind","seriesKey"]},{"type":"object","properties":{"kind":{"type":"string","enum":["company"]},"companyKey":{"type":"string"}},"required":["kind","companyKey"]}]},"OnboardingBiteEvidence":{"type":"object","properties":{"findingIds":{"type":"array","items":{"type":"string"},"default":[]},"excerpt":{"type":"string"}},"default":{"findingIds":[]}},"OnboardingBitePrefMapping":{"type":"object","properties":{"path":{"type":"string"},"value":{}},"required":["path"]},"OnboardingBitePresentation":{"type":"object","properties":{"photoUrl":{"type":"string"},"linkedinUrl":{"type":"string"},"title":{"type":"string"},"companyName":{"type":"string"},"oneLiner":{"type":"string"},"contactPriority":{"type":"integer","minimum":1,"maximum":3}}},"OnboardingCards":{"type":"object","properties":{"about":{"$ref":"#/components/schemas/OnboardingNarrativeCard"},"people":{"$ref":"#/components/schemas/OnboardingPeopleCard"},"scheduling":{"$ref":"#/components/schemas/OnboardingSchedulingCard"},"rules":{"$ref":"#/components/schemas/OnboardingNarrativeCard"},"dayInLife":{"$ref":"#/components/schemas/OnboardingDayInLifeCard"}},"default":{}},"OnboardingNarrativeCard":{"type":"object","properties":{"llmFraming":{"type":"string","default":""},"bullets":{"type":"array","items":{"type":"string"},"default":[]},"userAnswer":{"type":"string","default":""},"reviewState":{"$ref":"#/components/schemas/OnboardingCardReviewState"}},"default":{}},"OnboardingCardReviewState":{"type":"string","enum":["pending","approved","skipped"],"default":"pending"},"OnboardingPeopleCard":{"type":"object","properties":{"llmFraming":{"type":"string","default":""},"people":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingPeopleCardEntry"},"default":[]},"userAnswer":{"type":"string","default":""},"reviewState":{"$ref":"#/components/schemas/OnboardingCardReviewState"}},"default":{}},"OnboardingPeopleCardEntry":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string"},"priority":{"$ref":"#/components/schemas/OnboardingPeoplePriority"},"relationship":{"$ref":"#/components/schemas/OnboardingPeopleRelationship"},"relationshipOther":{"type":"string"},"note":{"type":"string","default":""},"title":{"type":"string"},"companyName":{"type":"string"}},"required":["email"]},"OnboardingPeoplePriority":{"anyOf":[{"type":"number","enum":[1]},{"type":"number","enum":[2]},{"type":"number","enum":[3]}],"default":2},"OnboardingPeopleRelationship":{"type":"string","enum":["coworker","direct_report","manager","client","friend","family","investor","vendor","other"],"default":"coworker"},"OnboardingSchedulingCard":{"type":"object","properties":{"llmFraming":{"type":"string","default":""},"workingHours":{"type":"object","properties":{"monday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"},"tuesday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"},"wednesday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"},"thursday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"},"friday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"},"saturday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"},"sunday":{"$ref":"#/components/schemas/OnboardingWorkingHoursDay"}},"default":{}},"buffersEnabled":{"type":"boolean","default":false},"bufferMinutes":{"type":"integer","minimum":0,"maximum":60,"default":15},"defaultMeetingDuration":{"type":"integer","minimum":5,"maximum":240},"userAnswer":{"type":"string","default":""},"reviewState":{"$ref":"#/components/schemas/OnboardingCardReviewState"}},"default":{}},"OnboardingWorkingHoursDay":{"type":["object","null"],"properties":{"start":{"type":"string"},"end":{"type":"string"}},"required":["start","end"]},"OnboardingDayInLifeCard":{"type":"object","properties":{"selectedDate":{"type":"string","default":""},"events":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingDayInLifeEvent"},"default":[]},"userAnswer":{"type":"string","default":""},"reviewState":{"$ref":"#/components/schemas/OnboardingCardReviewState"}},"default":{}},"OnboardingDayInLifeEvent":{"type":"object","properties":{"eventId":{"type":"string"},"title":{"type":"string"},"startsAt":{"type":"string"},"endsAt":{"type":"string"},"priority":{"$ref":"#/components/schemas/OnboardingPeoplePriority"},"note":{"type":"string","default":""}},"required":["eventId"]},"OnboardingWorkflowProposal":{"type":"object","properties":{"proposalId":{"type":"string"},"title":{"type":"string"},"icon":{"type":"string"},"color":{"type":"string"},"sentence":{"type":"string"},"category":{"type":"string","enum":["email","calendar","post-meeting","follow-ups","briefings","contacts","other"]},"evidence":{"$ref":"#/components/schemas/OnboardingWorkflowProposalEvidence"},"confidence":{"type":"number","minimum":0,"maximum":1,"default":0.5},"reviewState":{"type":"string","enum":["pending","accepted","edited","rejected"],"default":"pending"},"userEditedSentence":{"type":"string"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["proposalId","sentence","category","createdAt"]},"OnboardingWorkflowProposalEvidence":{"type":"object","properties":{"biteIds":{"type":"array","items":{"type":"string"},"default":[]},"findingIds":{"type":"array","items":{"type":"string"},"default":[]}},"default":{"biteIds":[],"findingIds":[]}},"OnboardingUpFrontAnswers":{"type":"object","properties":{"roleOneLiner":{"type":"string"},"schedulingAnnoyance":{"type":"string"}}},"OnboardingEarnedAnswers":{"type":"object","additionalProperties":{"type":"string"}},"OnboardingFinalizeState":{"type":"object","properties":{"summary":{"$ref":"#/components/schemas/OnboardingFinalizeSummary"},"asyncWorkflowJobs":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingAsyncWorkflowJob"},"default":[]}},"required":["summary"]},"OnboardingFinalizeSummary":{"type":"object","properties":{"appliedPreferences":{"type":"boolean","default":false},"savedMemoryCount":{"type":"integer","minimum":0,"default":0},"memoryBreakdown":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingFinalizeMemoryBreakdown"},"default":[]},"contactsCreated":{"type":"integer","minimum":0,"default":0},"contactsUpdated":{"type":"integer","minimum":0,"default":0},"companiesUpsertedCount":{"type":"integer","minimum":0,"default":0},"ownCompanyId":{"type":"string"},"weekLabelsApplied":{"type":"integer","minimum":0,"default":0},"skillsInstalled":{"type":"array","items":{"type":"string"},"default":[]},"notes":{"type":"array","items":{"type":"string"},"default":[]}}},"OnboardingFinalizeMemoryBreakdown":{"type":"object","properties":{"category":{"type":"string","enum":["PROFILE","CONTACT","COMPANY","EVENT","SCHEDULING","FAMILY","VOICE","RULE"]},"count":{"type":"integer","minimum":0}},"required":["category","count"]},"OnboardingAsyncWorkflowJob":{"type":"object","properties":{"proposalId":{"type":"string"},"status":{"type":"string","enum":["queued","building","ready","failed"],"default":"queued"},"skillId":{"type":"string"},"error":{"type":"string"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["proposalId","updatedAt"]},"OnboardingRunError":{"type":"object","properties":{"stage":{"type":"string"},"error":{"type":"string"},"at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["stage","error","at"]},"OnboardingDebugInfo":{"type":"object","properties":{"langsmithTraceId":{"type":"string"},"awsRequestId":{"type":"string"},"logGroupName":{"type":"string"},"logStreamName":{"type":"string"},"region":{"type":"string"},"startedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}}},"UpdateOnboardingFindingBody":{"type":"object","properties":{"reviewState":{"type":"string","enum":["pending","confirmed","edited","rejected","skipped"]},"userEdits":{}}},"UpdateOnboardingWeekLabelsBody":{"type":"object","properties":{"labels":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingWeekLabel"},"default":[]}}},"FinalizeOnboardingResponse":{"type":"object","properties":{"ok":{"type":"boolean"},"sessionId":{"type":"string"},"summary":{"$ref":"#/components/schemas/OnboardingFinalizeSummary"},"asyncWorkflowJobs":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingAsyncWorkflowJob"},"default":[]}},"required":["ok","sessionId","summary"]},"FinalizeOnboardingBody":{"type":"object","properties":{"applyPreferences":{"type":"boolean","default":true},"saveMemories":{"type":"boolean","default":true}}},"UpdateOnboardingUpFrontAnswersBody":{"type":"object","properties":{"roleOneLiner":{"type":"string"},"schedulingAnnoyance":{"type":"string"}}},"UpdateOnboardingBiteBody":{"type":"object","properties":{"reviewState":{"type":"string","enum":["pending","approved","edited","rejected","silent_saved"]},"userEditedText":{"type":"string"},"contactPriority":{"type":"integer","minimum":1,"maximum":3},"userAnswer":{"type":"string"}},"required":["reviewState"]},"UpdateOnboardingNarrativeCardBody":{"type":"object","properties":{"llmFraming":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}},"userAnswer":{"type":"string"},"reviewState":{"type":"string","enum":["pending","approved","skipped"]}}},"UpdateOnboardingPeopleCardBody":{"type":"object","properties":{"llmFraming":{"type":"string"},"people":{"type":"array","items":{"$ref":"#/components/schemas/UpdateOnboardingPeopleCardEntry"}},"userAnswer":{"type":"string"},"reviewState":{"type":"string","enum":["pending","approved","skipped"]}}},"UpdateOnboardingPeopleCardEntry":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"photoUrl":{"type":"string"},"priority":{"anyOf":[{"type":"number","enum":[1]},{"type":"number","enum":[2]},{"type":"number","enum":[3]}]},"relationship":{"type":"string","enum":["coworker","direct_report","manager","client","friend","family","investor","vendor","other"]},"relationshipOther":{"type":"string"},"note":{"type":"string"},"title":{"type":"string"},"companyName":{"type":"string"}},"required":["email"]},"UpdateOnboardingSchedulingCardBody":{"type":"object","properties":{"llmFraming":{"type":"string"},"workingHours":{"type":"object","additionalProperties":{}},"buffersEnabled":{"type":"boolean"},"bufferMinutes":{"type":"integer","minimum":0,"maximum":60},"defaultMeetingDuration":{"type":"integer","minimum":5,"maximum":240},"userAnswer":{"type":"string"},"reviewState":{"type":"string","enum":["pending","approved","skipped"]}}},"UpdateOnboardingDayInLifeCardBody":{"type":"object","properties":{"selectedDate":{"type":"string"},"events":{"type":"array","items":{"$ref":"#/components/schemas/UpdateOnboardingDayInLifeEvent"}},"userAnswer":{"type":"string"},"reviewState":{"type":"string","enum":["pending","approved","skipped"]}}},"UpdateOnboardingDayInLifeEvent":{"type":"object","properties":{"eventId":{"type":"string"},"priority":{"anyOf":[{"type":"number","enum":[1]},{"type":"number","enum":[2]},{"type":"number","enum":[3]}]},"note":{"type":"string"}},"required":["eventId"]},"SkipRestOnboardingBitesBody":{"type":"object","properties":{}},"UpdateOnboardingEarnedAnswersBody":{"type":"object","additionalProperties":{"type":"string"}},"UpdateOnboardingWorkflowProposalBody":{"type":"object","properties":{"reviewState":{"type":"string","enum":["pending","accepted","edited","rejected"]},"userEditedSentence":{"type":"string"}},"required":["reviewState"]},"SkipAllOnboardingWorkflowProposalsBody":{"type":"object","properties":{}},"OnboardingWorkflowStatusResponse":{"type":"object","properties":{"ok":{"type":"boolean"},"jobs":{"type":"array","items":{"$ref":"#/components/schemas/OnboardingAsyncWorkflowJob"},"default":[]},"allComplete":{"type":"boolean"}},"required":["ok","allComplete"]},"OnboardingFinalizeStatusResponse":{"type":"object","properties":{"ok":{"type":"boolean"},"status":{"type":"string","enum":["idle","running","complete","error"]},"currentTask":{"type":"string"},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["assistant","user","system"]},"content":{"type":"string"},"at":{"type":"string"}},"required":["role","content"]},"default":[]},"pendingQuestions":{"type":"array","items":{"type":"object","properties":{"questionId":{"type":"string"},"text":{"type":"string"}},"required":["questionId","text"]},"default":[]},"summary":{"$ref":"#/components/schemas/OnboardingFinalizeSummary"},"error":{"type":"string"}},"required":["ok","status"]},"UpsertProfileBioBody":{"type":"object","properties":{"content":{"type":"string","minLength":0,"maxLength":8000}},"required":["content"]},"DriveStorageResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"storage":{"$ref":"#/components/schemas/DriveStorage"}},"required":["ok","storage"]},"DriveStorage":{"type":"object","properties":{"usedBytes":{"type":"integer"},"quotaBytes":{"type":"integer"},"remainingBytes":{"type":"integer"},"percentUsed":{"type":"integer"}},"required":["usedBytes","quotaBytes","remainingBytes","percentUsed"]},"ListDriveFilesResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"driveFiles":{"type":"array","items":{"$ref":"#/components/schemas/DriveFile"}},"page":{"type":"integer"},"perPage":{"type":"integer"},"total":{"type":"integer"}},"required":["ok","driveFiles"]},"DriveFile":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"team":{"type":["string","null"]},"organization":{"type":["string","null"]},"kind":{"type":"string","enum":["file","note"],"default":"file"},"folder":{"type":["string","null"]},"event":{"$ref":"#/components/schemas/DriveFileEvent"},"noteType":{"type":"string","enum":["raw-transcript","shared-summary","personal-summary","user-notes","action-items"],"default":"user-notes"},"isPrivate":{"type":"boolean","default":false},"attendees":{"type":"array","items":{"type":"string"},"default":[]},"externalShare":{"$ref":"#/components/schemas/DriveFileExternalShare"},"summaryStatus":{"type":"string","enum":["none","pending","ready"],"default":"none"},"tags":{"type":"array","items":{"type":"string"},"default":[]},"s3Key":{"type":"string"},"name":{"type":"string"},"mimeType":{"type":["string","null"]},"size":{"type":"integer"},"status":{"type":"string","enum":["pending","ready"]},"assistant":{"type":["string","null"]},"source":{"$ref":"#/components/schemas/DriveFileSource"},"importSource":{"$ref":"#/components/schemas/DriveFileImportSource"},"remoteRef":{"$ref":"#/components/schemas/DriveFileRemoteRef"},"relatedTasks":{"type":"array","items":{"type":"string"},"default":[]},"activities":{"type":"array","items":{"$ref":"#/components/schemas/DriveFileActivity"},"default":[]},"versions":{"type":"array","items":{"$ref":"#/components/schemas/DriveFileVersion"},"default":[]},"metadata":{"type":"object","additionalProperties":{},"default":{}},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","s3Key","name","size","status","createdAt","updatedAt"]},"DriveFileEvent":{"type":["object","null"],"properties":{"calendarId":{"type":"string"},"eventId":{"type":"string"}},"required":["calendarId","eventId"]},"DriveFileExternalShare":{"type":["object","null"],"properties":{"token":{"type":"string"},"expiresAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"sharedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"sharedWith":{"type":"array","items":{"type":"string"},"default":[]}},"required":["token"]},"DriveFileSource":{"type":["object","null"],"properties":{"type":{"type":"string","enum":["chat","dispatch","task","upload"]},"id":{"type":"string"}},"required":["type","id"]},"DriveFileImportSource":{"type":["object","null"],"properties":{"type":{"type":"string","enum":["google-meet","ms-teams","zoom","granola","fireflies","otter","fathom","gong","tldv","read-ai","avoma","chorus","fellow","salesforce","hubspot","google-drive","onedrive","dropbox","box"]},"externalId":{"type":"string"},"importedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"hash":{"type":"string"}},"required":["type","externalId","importedAt","hash"]},"DriveFileRemoteRef":{"type":["object","null"],"properties":{"provider":{"type":"string","enum":["google-drive","onedrive","dropbox","box"]},"fileId":{"type":"string"},"webLink":{"type":["string","null"]},"lastFetchedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"contentCached":{"type":"boolean","default":false}},"required":["provider","fileId"]},"DriveFileActivity":{"type":"object","properties":{"type":{"type":"string","enum":["message","status_change","edit","share"]},"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"},"assistant":{"type":["string","null"]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["type","role","content","createdAt"]},"DriveFileVersion":{"type":"object","properties":{"s3Key":{"type":"string"},"size":{"type":"integer"},"mimeType":{"type":["string","null"]},"savedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"savedBy":{"type":"string"}},"required":["s3Key","size","savedAt","savedBy"]},"ShowDriveFileResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"driveFile":{"$ref":"#/components/schemas/DriveFile"}},"required":["ok","driveFile"]},"DriveFileDownloadResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"url":{"type":"string","description":"Presigned S3 GET URL, valid for 15 minutes."}},"required":["ok","url"]},"DeleteDriveFileResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"driveFile":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean"},"message":{"type":"string"}},"required":["id"]}},"required":["ok","driveFile"]},"UploadDriveFileResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"url":{"type":"string","description":"Presigned S3 PUT URL. Upload file bytes here."},"fileId":{"type":"string","description":"DriveFile record ID. Use this to confirm upload."},"contentType":{"type":"string","description":"Content-Type to use for the PUT request."}},"required":["ok","url","fileId","contentType"]},"UploadDriveFileBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Display name for the file"},"mimeType":{"type":"string","description":"MIME type (auto-detected from name if omitted)"},"size":{"type":"integer","minimum":0,"description":"File size in bytes (for quota pre-check)"},"folder":{"type":["string","null"],"pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011","description":"Folder to upload into (null/omit = root)"}},"required":["name","size"]},"ConfirmUploadResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"driveFile":{"$ref":"#/components/schemas/DriveFile"}},"required":["ok","driveFile"]},"ConfirmUploadBody":{"type":"object","properties":{"size":{"type":"integer","minimum":0,"description":"Actual byte size of the uploaded file"}},"required":["size"]},"MoveDriveFileBody":{"type":"object","properties":{"folder":{"type":["string","null"],"pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011","description":"Target folder ID (null = root)"}},"required":["folder"]},"ShareDriveFileBody":{"type":"object","properties":{"team":{"type":["string","null"],"pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011","description":"Share with team (null = unshare)"},"organization":{"type":["string","null"],"pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011","description":"Share with organization (null = unshare)"}}},"LinkTaskBody":{"type":"object","properties":{"taskId":{"type":"string","pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011","description":"Task ID to link"}},"required":["taskId"]},"ProcessFileBody":{"type":"object","properties":{"message":{"type":"string","minLength":1,"description":"Message about this file"},"assistantId":{"type":"string","pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011","description":"Assistant to process with"}},"required":["message"]},"DriveFileActivitiesResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"activities":{"type":"array","items":{"$ref":"#/components/schemas/DriveFileActivity"}}},"required":["ok","activities"]},"DriveFileVersionsResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"versions":{"type":"array","items":{"$ref":"#/components/schemas/DriveFileVersion"}}},"required":["ok","versions"]},"UpdateContentBody":{"type":"object","properties":{"content":{"type":"string","maxLength":5242880,"description":"New file content (text files < 5MB)"}},"required":["content"]},"CreateNoteBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"File/note title"},"content":{"type":"string","description":"Initial markdown content"},"kind":{"type":"string","enum":["file","note"],"default":"note","description":"Kind of file to create (defaults to note)"},"event":{"allOf":[{"$ref":"#/components/schemas/DriveFileEvent"},{"description":"Link to a calendar event (makes it a meeting note)"}]},"noteType":{"type":"string","enum":["raw-transcript","shared-summary","action-items","user-notes","personal-summary"],"default":"user-notes","description":"Note sub-type (for meeting notes)"},"tags":{"type":"array","items":{"type":"string"},"default":[],"description":"Tags for the note"},"folder":{"type":["string","null"],"description":"Folder ID (null = root)"}},"required":["name"]},"ListMeetingNotesResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"meetingNotes":{"type":"array","items":{"$ref":"#/components/schemas/MeetingNoteGroup"}}},"required":["ok","meetingNotes"]},"MeetingNoteGroup":{"type":"object","properties":{"event":{"type":"object","properties":{"id":{"type":"string"},"calendarId":{"type":"string"},"title":{"type":"string"},"startsAt":{"type":"string"},"endsAt":{"type":"string"},"attendees":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"status":{"type":"string"}}},"default":[]}},"required":["id","calendarId","title","startsAt"]},"notes":{"type":"array","items":{"$ref":"#/components/schemas/DriveFile"}}},"required":["event","notes"]},"ImportMeetingNotesResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"imported":{"type":"integer"},"updated":{"type":"integer"},"skipped":{"type":"integer"},"errors":{"type":"integer"},"reason":{"type":"string"}},"required":["ok","imported","updated","skipped","errors"]},"ImportStatusResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"google":{"$ref":"#/components/schemas/ProviderImportStatus"},"azure":{"$ref":"#/components/schemas/ProviderImportStatus"}},"required":["ok","google","azure"]},"ProviderImportStatus":{"type":"object","properties":{"available":{"type":"boolean"},"scopeGranted":{"type":"boolean"},"pendingCount":{"type":"integer"}},"required":["available","scopeGranted","pendingCount"]},"CalendarWithMeta":{"allOf":[{"$ref":"#/components/schemas/Calendar"},{"type":"object","properties":{"role":{"type":"string"},"isPrimary":{"type":"boolean"},"userIdentifier":{"type":"string"},"ownerEmail":{"type":["string","null"]},"displayName":{"type":["string","null"]},"isDelegatedCalendar":{"type":"boolean"},"principalEmail":{"type":["string","null"]}}}]},"Calendar":{"type":"object","properties":{"id":{"type":"string"},"platform":{"type":"string","enum":["google","azure","apple"]},"name":{"type":"string"},"timezone":{"type":"string"},"etag":{"type":["string","null"]},"referenceId":{"type":"string"},"conferenceSolutions":{"type":"array","items":{}},"backgroundColor":{"type":["string","null"]},"lastSyncedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"lastSyncToken":{"type":["string","null"]},"syncError":{"type":["string","null"]},"syncErrorCount":{"type":"number"},"syncErrorAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"connectedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"eventCount":{"type":"number"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","platform","name","createdAt","updatedAt"]},"BookingLink":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"slug":{"type":["string","null"]},"isPrimary":{"type":"boolean","default":false},"title":{"type":["string","null"]},"active":{"type":"boolean"},"meetingType":{"type":"string","enum":["virtual","in_person"],"default":"virtual"},"timezone":{"type":["string","null"]},"offerTimesStartingDays":{"type":"number","default":1},"notSoonerThanMinutes":{"type":"number","default":60},"atLatestDays":{"type":"number","default":30},"instructions":{"type":["string","null"]},"chatEnabled":{"type":"boolean","default":true},"accessMode":{"type":"string","enum":["public","anyone_with_link","invite_only"],"default":"public"},"shareToken":{"type":"string"},"schedulingPreferences":{"$ref":"#/components/schemas/SchedulingPreferences"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","active","shareToken","createdAt","updatedAt"]},"SchedulingPreferences":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"availability":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"workingHours":{"type":"object","properties":{"MO":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"TU":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"WE":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"TH":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"FR":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"SA":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}},"SU":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}}}}},"workingHolidays":{"type":"array","items":{"type":["string","null"],"format":"date-time"}},"customHolidays":{"type":"array","items":{"type":["string","null"],"format":"date-time"}},"holidayCountries":{"type":"array","items":{"type":"string"}},"holidayCountry":{"type":"string"}}},"defaults":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"virtual":{"type":"object","properties":{"duration":{"type":"number"},"defaultMeetingLink":{"type":"string"},"conferenceSolution":{"type":"string"},"conferenceIntegration":{"type":"string"}}},"inPerson":{"type":"object","properties":{"duration":{"type":"number"},"defaultLocation":{"type":"string"}}}}},"calendars":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"read":{"type":"array","items":{"type":"string"}},"write":{"type":"string"}}},"buffers":{"type":"object","properties":{"sync":{"type":"boolean","default":true},"bufferType":{"type":"string","enum":["none","meeting","timeBlock"]},"bufferLength":{"type":"number"},"bufferBlockLength":{"type":"number"},"dailyMeetingLimit":{"type":"number"}}},"customEventTitles":{"type":"object","properties":{"internal":{"type":"object","properties":{"useCustomTitles":{"type":"boolean"},"solo":{"type":"string"},"oneAttendee":{"type":"string"},"twoAttendees":{"type":"string"},"manyAttendees":{"type":"string"}}},"external":{"type":"object","properties":{"useCustomTitles":{"type":"boolean"},"oneAttendee":{"type":"string"},"twoAttendees":{"type":"string"},"manyAttendees":{"type":"string"}}}}}}},"CreateBookingLinkBody":{"type":"object","properties":{"slug":{"type":"string"},"title":{"type":"string"},"active":{"type":"boolean","default":true},"meetingType":{"type":"string","enum":["virtual","in_person"],"default":"virtual"},"offerTimesStartingDays":{"type":"number","default":1},"notSoonerThanMinutes":{"type":"number","default":60},"atLatestDays":{"type":"number","default":30},"instructions":{"type":["string","null"]},"chatEnabled":{"type":"boolean","default":true},"accessMode":{"type":"string","enum":["public","anyone_with_link","invite_only"],"default":"public"},"schedulingPreferences":{"$ref":"#/components/schemas/SchedulingPreferences"}},"required":["slug"]},"UpdateBookingLinkBody":{"type":"object","properties":{"slug":{"type":"string"},"title":{"type":"string"},"active":{"type":"boolean"},"meetingType":{"type":"string","enum":["virtual","in_person"]},"offerTimesStartingDays":{"type":"number"},"notSoonerThanMinutes":{"type":"number"},"atLatestDays":{"type":"number"},"instructions":{"type":["string","null"]},"chatEnabled":{"type":"boolean"},"accessMode":{"type":"string","enum":["public","anyone_with_link","invite_only"]},"schedulingPreferences":{"$ref":"#/components/schemas/SchedulingPreferences"}}},"Website":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"user":{"type":"string"},"task":{"type":["string","null"]},"name":{"type":"string"},"stack":{"type":"string","enum":["html","nextjs"]},"s3SourcePrefix":{"type":["string","null"]},"lambdaFunctionName":{"type":["string","null"]},"ecrImageUri":{"type":["string","null"]},"buildStatus":{"type":"string","enum":["idle","building","deployed","failed"]},"buildId":{"type":["string","null"]},"buildError":{"type":["string","null"]},"lastBuildAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"publishedSlug":{"type":["string","null"]},"publishedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"},"publishedUrl":{"type":["string","null"]},"envVars":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"]},"default":[]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","user","name","stack","buildStatus","createdAt","updatedAt"]},"CreateWebsiteBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":40,"pattern":"^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"},"stack":{"type":"string","enum":["html","nextjs"],"default":"html"},"task":{"type":"string","pattern":"^[a-f\\d]{24}$/i","example":"507f1f77bcf86cd799439011"}},"required":["name"]},"SlugAvailableResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"available":{"type":"boolean"},"reason":{"type":"string"}},"required":["ok","available"]},"UpdateEnvVarsBody":{"type":"object","properties":{"envVars":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"]}}},"required":["envVars"]},"PublishWebsiteResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"website":{"$ref":"#/components/schemas/Website"},"url":{"type":"string"},"slug":{"type":"string"},"published":{"type":"boolean"},"buildId":{"type":"string"},"estimatedMinutes":{"type":"number"},"stub":{"type":"boolean"}},"required":["ok","website","slug","published"]},"PublishWebsiteBody":{"type":"object","properties":{"slug":{"type":"string","minLength":3,"maxLength":50,"pattern":"^[a-z0-9](?:[a-z0-9-]{1,48}[a-z0-9])?$"}},"required":["slug"]},"BuildStatusResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"status":{"type":"string"},"phase":{"type":"string"},"startedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"endedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"logGroupName":{"type":"string"},"logStreamName":{"type":"string"},"buildError":{"type":["string","null"]},"publishedUrl":{"type":["string","null"]},"website":{"$ref":"#/components/schemas/Website"}},"required":["ok","status","website"]},"SchedulingTable":{"type":"object","properties":{"id":{"type":"string"},"account":{"type":"string"},"createdBy":{"type":"string"},"title":{"type":"string"},"slug":{"type":["string","null"]},"description":{"type":["string","null"]},"duration":{"type":["number","null"]},"status":{"type":"string","enum":["active","closed"]},"accessMode":{"type":"string","enum":["invite_only","anyone_with_link"]},"participantPrivacy":{"type":"string","enum":["visible","anonymous"]},"timezone":{"type":["string","null"]},"shareToken":{"type":"string"},"slots":{"type":"array","items":{"$ref":"#/components/schemas/CandidateSlot"}},"participants":{"type":"array","items":{"$ref":"#/components/schemas/SchedulingTableParticipant"}},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","account","createdBy","title","status","accessMode","participantPrivacy","shareToken","slots","participants","createdAt","updatedAt"]},"CandidateSlot":{"type":"object","properties":{"id":{"type":"string"},"start":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"end":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"}],"example":"2025-01-15T10:30:00.000Z"},"position":{"type":"number"},"source":{"type":"string","enum":["manual","ai_seeded"]}},"required":["id","start","end","position","source"]},"SchedulingTableParticipant":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"userId":{"type":["string","null"]},"role":{"type":"string","enum":["host","participant"]},"required":{"type":"boolean"},"shareToken":{"type":"string"},"responses":{"type":"array","items":{"$ref":"#/components/schemas/SlotResponse"}},"respondedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","format":"date-time"},{"type":"null"}],"example":"2025-01-15T10:30:00.000Z"}},"required":["id","name","role","required","responses"]},"SlotResponse":{"type":"object","properties":{"slotId":{"type":"string"},"ava
[...]
